$dark: #444444;
$green: #97dd67;
$gray: #a5a5a5;

*{
    padding: 0;
    margin: 0;
}
ul,li{
   list-style: none; 
}
a{
    text-decoration: none;
    color:#000;
}

.navbar{
    background-color: $dark;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
}
.nav__list{
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
.nav__link{
    color: $gray;
    font-size: 1.2rem;
    transition: color .3s linear;
    &:hover{
        color: $green;
    }
}

.tourlist{
    width: 70vw;
    margin: 0 auto;
    padding: 2rem 0; 
}
.tour{
    background-color: $gray;
    border-radius: .8rem;
    margin: 1rem 0;
    img{
        width: 100%;
        height: 250px;
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;
    }
}
.img-container{
    position: relative;
}
.close-btn{
    position: absolute;
    top: 5%;
    right: 5%;
    color: $green;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s linear; 
}
.img-container:hover .close-btn{
    opacity: 1;
}
.tour-info{
    padding: 1rem .5rem;
    h3{
        text-transform: uppercase;
        color:$green;

    }
    h4{
        text-transform: capitalize;
        margin: .3rem 0;
    }
    h5{
        text-transform: capitalize;
        span{
            color: $green;
            margin: .5rem;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}